<p>Edytuj towar</p>
<form #form="ngForm" (ngSubmit)="onFormSubmit()">
  <table>
    <tr>
      <td>
        <label for="towarName">Nazwa towaru:</label>
      </td>
      <td>
        <input id="towarName" type="text" name="towarName" [(ngModel)]="model.nazwa">
      </td>
    </tr>
    <tr>
      <td>
        <label for="towarCode">Kod towaru:</label>
      </td>
      <td>
        <input id="towarCode" type="text" name="towarCode" [(ngModel)]="model.kod">
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <button type="submit">Zapisz</button>
      </th>
    </tr>
  </table>
</form>
